@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-weight: 100%;
}

body {
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

input,
button,
textarea,
select {
  outline: none;
  font-family: inherit;
}

.btn {
  padding: 0.75rem 2.5rem;
  color: #3a414e;
  border-radius: 1.8rem;
  border: 1px solid #22195a;
  background-color: #fff;
}

.container {
  max-width: 1140px;
  padding: 1.25rem;
}

body {
  font-weight: 300;
  font-size: 60px;
  font-family: "Roboto", sans-serif;
}
